@import "../../styles/_include.scss";

.login-form {
    margin-bottom: 0;
    padding: ($gutter-width / 2) $gutter-width;
    max-width: 500px;

    &__remember-me:hover {
        cursor: pointer;
    }
}
