@import "../../styles/_include.scss";

.blog-post {

    &__title {
        margin: 0;
        padding: 0;
        @include font(
            $family: $heading-font-family,
            $size: px-to-rem(20px),
            $weight: map-get($font-weights, 'semi-bold'),
            $color: $primary-color
        );
        text-transform: uppercase;
    }

    &__meta {
        margin: 10px 0 0 0;
        padding: 0;
        @include font(
            $family: $text-font-family,
            $size: px-to-rem(14px),
            $weight: map-get($font-weights, 'normal'),
            $color: $secondary-color
        );
        font-style: italic;
    }

    &__content {
        margin: 15px 0 0 0;
        padding: 0;
        line-height: $large-line-height;
    }
}