@import "../../../styles/_include.scss";

.contact-info {
    position: relative;
    margin: 0;
    // Отступ для иконки
    padding: 0 0 0 30px;
    float: none;

    /* Кривые иконки FontAwesome. */
    &__icon {
        position: absolute;
        top: -6px;
        left: 0;
    }

    &__caption {
        margin: 0;
        padding: 0;
        @include font(
            $family: $heading-font-family,
            $size: px-to-rem(14px),
            $weight: map-get($font-weights, 'semi-bold'),
            $color: $primary-color
        );
        text-transform: uppercase;
    }

    &__text {
        margin: ($gutter-width / 2) 0 0 0;
        padding: 0;
        @include font(
            $family: $text-font-family,
            $size: px-to-rem(12px),
            $weight: map-get($font-weights, 'normal'),
            $line-height: 2,
            $color: $primary-color
        );
    }
}