@import "../../../styles/_include.scss";

.contacts {
    margin: 0;
    padding: 0;
    @include clearfix();

    &__line {
        margin: 0;

        &:not(:first-of-type) {
            margin-top: $gutter-width;
        }
        // Немного необычные для бутстрапа медиа-запросы, но нужные
        // для требуемой адаптивности.
        @media (min-width: 680px) and (max-width: $screen-xs-max) {
            float: left;
            width: 31%;
            margin-top: 0 !important;

            &:not(:first-of-type) {
                margin-left: ($gutter-width / 2);
            }
        }
    }

    /* Кривые иконки FontAwesome. */
    &__icon-mail {
        position: absolute;
        font-size: 20px;
        top: -2px;
        left: -3px;
    }
}