@import "../styles/_include.scss";

.gallery-filter {
    margin: 0;

    &__item {
        margin: 0 ($gutter-width / 2);
        @include font(
            $family: $text-font-family,
            $size: px-to-rem(16px),
            $weight: map-get($font-weights, 'normal'),
            $line-height: $large-line-height
        );

        &--active {
            color: $accent-color;
        }
    }
}