@import "../../styles/_include.scss";

.team {
    &__carousel {
        position: relative;

        &-nav {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;

            &.disabled {
                display: none;
            }

            &-button {

                &-prev {
                    float: left;
                }

                &-next {
                    float: right;
                }
            }
        }
    }
}

.carousel-nav-button {
    padding: 0 12px;
    background-color: $primary-color;
    opacity: 0.2;
    border: none;
    color: $light-grey-color;
    outline: none;
    font-size: 24px;
    transition: all 0.1s;

    &:hover {
        color: $white-color;
        background-color: $accent-color;
        opacity: 1;
    }
}